body {
    font-family: "Roboto Mono", monospace;
    display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    background-color: #f5f5f5;
    color: #333;
}

.monese
{
    margin: 10px;
    font-size: x-large;
}

.stars
{
    margin: 0;
}

.starsAndTitle {
    text-align: center;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-transform: capitalize;
}

.definition
{
    font-size: x-large;
}


th,
td {
    padding: 12px 10px;
    border: 1px solid #ccc;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #2c3e50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

#mot-container {
    max-width: 800px;
    margin-bottom: 10px;
    word-break: break-word;
    padding: 5px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 5%;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #2c3e50;
    color: white;
    transition: background-color 0.3s ease;
    /* position: absolute;
    bottom: 10px; */
}

button:hover {
    background-color: #34495e;
}

@media screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    td {
        padding-left: 50%;
        position: relative;
        min-height: 50px;
    }

    td::before {
        position: absolute;
        left: 10px;
        top: 12px;
        white-space: nowrap;
        font-weight: bold;
    }

    td:nth-of-type(1)::before { content: "Lettre"; }
    td:nth-of-type(2)::before { content: "Mot"; }
    td:nth-of-type(3)::before { content: "Définition"; }
    td:nth-of-type(4)::before { content: "Exemple"; }
    td:nth-of-type(5)::before { content: "Type"; }
    td:nth-of-type(6)::before { content: "Difficulté"; }
}

@media screen and (max-width: 430px) {
    .monese 
    {
        margin: 0px;
    }


    body {
        font-size: 1.5em;
        margin: 10px;
    }

    .starsAndTitle {
        flex-direction: column;
        font-size: 1em;
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: 1.2em;
        scale: 0.7;
    }

    #mot-container {
        width: 100%;
        padding: 15px;
    }

    td {
        padding-left: 45%;
    }
}
